<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}
  </title>

  {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html}}">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{% if page.title %} {{ page.title }} | {% endif %}{{ site.title }}">
  {% if page.thumb %}
  <meta property="og:image" content="{{ site.url }}{{ page.thumb }}">
  {% endif %}
  {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt | strip_html}}">
  {% endif %}

  {% comment %}
  <meta property="og:type" content="">
  <meta property="og:url" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  {% endcomment %}
  <link rel="stylesheet" href="/main.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#222222">
  <meta name="theme-color" content="#222222">
</head>

<body {% if page.categories contains 'words' %} class="words" {% endif %}>
  <header>
    {% comment %}
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="720px" height="72px" viewBox="0 0 720 72" enable-background="new 0 0 720 72" xml:space="preserve">
  <path stroke-miterlimit="10" d="M2,68.5c0,0,178.334,0,188,0c24.667,0,55.666-57,77.083-57
  c10.25,0,426.917,0,426.917,0"/>
  </svg>
  {% endcomment %}
    <nav>
      <a href="/">Tim Burbank</a>
      {% if "/" == page.url %}
        <a href="/" class="current">Things</a>
      {% else %}
        <a href="/">Things</a>
      {% endif %}
    </nav>
  </header>
  {{ content }}
</body>
</html>
