---
layout: default
---

{%- if page.title -%}
  <h1>{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
  <ul class="archive">
    {%- for post in site.posts -%}
    {% if post.categories contains "words" %}
    <li class="words">
    {% else %}
    <li>
    {% endif %}
      <a href="{{ post.url | relative_url }}">
        {%- if post.thumb -%}
          <img src="{{ post.thumb }}">
        {%- endif -%}
        <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%b. %-d, %Y" }}</time>
        <h2>
            {{ post.title | escape }}
        </h2>
        {% comment %}
        {%- if post.thumb == nil -%}
          <p>{{ post.excerpt | strip_html }}</p>
        {%- endif -%}
        {% endcomment %}
      </a>
    </li>
    {%- endfor -%}
  </ul>



{%- endif -%}

