---
layout: default
---
{% comment %}
<style type="text/css">
  article {
    background-image: url({{ page.image.path }});
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  article h1 {
    margin: 0;
    padding: 20px 40px 80px;

    position: absolute;
/*    background: -moz-linear-gradient(315deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    background: -webkit-linear-gradient(315deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(315deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
*/
  }


  .article-body {
    margin: -20px 0 0;
    padding: 120px 40px 60px;

    background: -moz-linear-gradient(180deg, rgba(34,34,34,0.8) 0%, rgba(34,34,34,1) 300px);
    background: -webkit-linear-gradient(180deg, rgba(34,34,34,0.8) 0%, rgba(34,34,34,1) 300px);
    background: linear-gradient(180deg, rgba(34,34,34,0.8) 0%, rgba(34,34,34,1) 300px);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#222222",GradientType=1);
  }
</style>
{% endcomment %}

<article class="post {% if page.categories contains 'words' %} words {% endif %}" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% if page.image %}<img src="{{ page.image.path }}" alt="{{ page.image.alt }}">{% endif %}
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b. %-d, %Y" }}
    </time>
    <h1 class="post-title" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
      {% comment %}
      <ul class="roles">
        {% for role in page.roles %}
          <li>{{ role }}{% if forloop.last == false %}, {% endif %} </li>
        {% endfor %}
      </ul>
      {% endcomment %}
  </header>

  <div class="article-body" itemprop="articleBody">
    {{ content }}

    {% if page.credits %}
    <table>
      <!-- <caption>Credits</caption> -->
      {% for credit in page.credits %}
      <tr>
        <td>
          {% if credit.name contains "Tim Burbank" %}
            <strong>{{ credit.role }}</strong>
          {% else %}
            {{ credit.role }}
          {% endif %}
        </td>
        <td>
          {% if credit.name contains "Tim Burbank" and False %}
            <strong>{{ credit.name }}</strong>
          {% else %}
            {{ credit.name }}
          {% endif %}
          {% for link in credit.link %}
            <br>{{ link | markdownify | remove: '<p>' | remove: '</p>' }}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>

</article>
