---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$color-text: #fff;
$color-bg: #222;
$color-primary: #ff3391;
$color-secondary: #33d6f2;

$border-radius: 5px;


/*
// Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

// Sen
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

// Emilys Candy
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

// 'Share Tech Mono', monospace
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

// 'Jura', sans-serif 
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');

// 'Nanum Gothic Coding', monospace;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

// 'IBM Plex Mono', monospace;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');

// 'Quicksand', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*/
// 'Saira Semi Condensed', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100&display=swap');

// 'Courier Prime', monospace;
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

// 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

$heading-font-family: 'Saira Semi Condensed', sans-serif;
$text-font-family: 'Open Sans', sans-serif;

@import "normalize";
@import "base";
// @import "title_over_image";

@media only screen and (min-width: 500px) {
    @import "medium";
}

@media only screen and (min-width: 900px) {
    @import "large";
}

@import "perldoc";

