body {
    color: $color-text;
    background-color: $color-bg;
    font-family: $text-font-family;
    font-weight: 300;
    font-size: 16px;
    padding: 10px;
    background-image: 
        url("/assets/tim_site_bg_left.svg"), 
        url("/assets/tim_site_bg_right.svg"), 
        url("/assets/subtle_grunge.png");
    // background-image: url("/images/tim_site_bg.svg");
    background-repeat: no-repeat, no-repeat, repeat;
    background-blend-mode: normal, normal, multiply;
    background-position: left 100px, right 100px, left top;
}

header svg {
    stroke: $color-primary;
    fill: none;
}

nav {
    font-family: $heading-font-family;
    margin: 20px 0;
    color: $color-primary;
    font-size: 1.2em;

    a {
        margin-right: 20px;
    }

    a:hover {
        color: lighten($color-primary, 10%);
    }

    a:active {
        color: darken($color-primary, 10%);
    }

    a.current {
        text-decoration: underline;
    }

    a:first-child {
        font-size: 1.5em;
    }
}


// These are for the home page listing, and might not want to be default
h1 {
    color: $color-primary;
    font-family: $heading-font-family;
}

h2 {
    color: $color-secondary;
    font-family: $heading-font-family;
}

p {
    line-height: 1.5em;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: inherit;
}

blockquote {
    margin-bottom: 40px;
}

table {
    margin: 40px auto 0;
}

tr {
    line-height: 1.2em;
}

td {
    display: block;
    width: 100%;
    vertical-align: top;
    padding: 5px 2% 10px;
    text-align: center;

    a {
        font-size: 0.9em;
    }
}

td:first-child {
    text-align: center;
    vertical-align: top;
    margin-bottom: 0;
    padding-bottom: 0;
    font-style: italic;
    line-height: 1em;
    margin-top: 10px;
    font-size: 0.9em;
    vertical-align: top;
    // color: darken($color-text, 40%);
    // color: $color-secondary;
    // font-style: italic;
}

// strong {
//     font-weight: normal;
//     color: $color-primary;
// }

article {
    max-width: 680px;
    margin: 0 auto;

    //// same as list items on archive, could dry out
    border: 1px solid darken($color-primary, 30%);
    border-radius: $border-radius;
    background-color: $color-bg;

    header {
        margin: 0 0 20px;

        img {
            width: 100%;
            border-radius: $border-radius $border-radius 0 0;
            height: 200px;
            object-fit: cover;
            object-position: 50% 50%; 
        }

        ul {
            margin: 0 40px;
            padding: 0;
            font-size: .9em;
            color: darken($color-text, 35%);
        }

        li {
            display: inline;
        }
    }

    h1 {
        display: block;
        margin: 30px 40px 0;
    }

    time {
        color: darken($color-text, 35%);
        float: right;
        margin-right: 40px;
    }


    a, a:visited, a:active {
        color: darken($color-text, 35%);
    }

    iframe {
        display: block;
        margin: 40px auto;
        border-radius: $border-radius;
        max-width: 100%;
    }

    ul, ol {
        line-height: 2em;
    }
}

.article-body {
    margin: 0;
    overflow: hidden;

    p {
        margin-right: 10px;
        margin-left: 10px;
    }

    //// Books post specific formatting
    //// Alternating version relies on even/odd counting and
    //// will break as soon as I accidentally add a markdown <p> tag.
    //// Also looks kinda messy. Do not recommend
    h2 {
        clear: both;
    }

    // h2:nth-child(even) {
    //     text-align: right;
    //     clear: left;
    // }

    img {
        max-height: 200px;
        margin: 0 20px 40px;
        float: left;
        clear: both;

        -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    }

    // p:nth-child(2n+3) {
    //     text-align: right;
    // }

    // p:nth-child(2n+0) {

    //     img {
    //         float: left;
    //     }
    // }
}

article.words {
    background-color: #ddd;

    p {
        color: #000;
    }

    h2 {
        // color: #37a0b2;
        color: #147386
    }
}

body.words {
    background-color: #c8c8c8;
}


ul.archive {
    list-style-type: none;
    padding: 0;

    li.words {
        border-color: #444;
    }

    li {
        border: 1px solid;
        // border-color: $color-primary darken($color-primary, 50%) darken($color-primary, 60%) darken($color-primary, 40%);
        
        //// solid
        border-color: darken($color-primary, 30%);

        //// inset bevel
        // border-color: darken($color-bg, 20%) darken($color-bg, 10%) lighten($color-bg, 10%) darken($color-bg, 10%);
        
        //// outset bevel
        // border-color: lighten($color-bg, 10%) darken($color-bg, 10%) darken($color-bg, 20%) darken($color-bg, 10%);
        
        margin: 10px;
        border-radius: $border-radius;

        //// drop shadow
        // -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
        // -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
        // box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);

        //// inset shadow
        // -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.25);
        // -moz-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.25);
        // box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.25);

        background-image: none;

        a {
            border-radius: $border-radius;
            // padding: 10px;
            background-color: $color-bg;
            display: block;
            width: inherit;
            height: 100%;

        }

        a:hover {
            background-color: lighten($color-bg, 1%);
            
            // -webkit-box-shadow: 0px 0px 5px 3px darken($color-primary, 30%);
            // -moz-box-shadow: 0px 0px 5px 3px darken($color-primary, 30%);
            // box-shadow: 0px 0px 5px 3px darken($color-primary, 30%);

            img {
                opacity: 0.8;
            }
        }


        img {
            width: 100%;
            border-radius: $border-radius $border-radius 0 0;
            height: 150px;
            object-fit: cover;
            object-position: 50% 20%; 
        }

        h2 {
            padding: 20px 10px;
            margin: 0;
        }

        time {
            color: darken($color-text, 35%);
            float: right;
            margin: 5px 10px 0 0;
            font-size: 0.8em;
        }

        p {
            margin: 0;
            padding: 10px;
        }
    }
}
