
body {
    max-width: 1200px;
    margin: 0 auto;
}

//// For home page archive, might not want to be default
ul.archive {
    display: grid;
    // the minmax here is to prevent large items messing with the grid
    grid-template-columns: repeat(3, minmax(0, 1fr));

}