
//// For home page archive, might not want to be default
ul.archive {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

}

.article-body {
    margin: 20px 40px 60px;
}


td {
    display: table-cell;
    text-align: left;
    width: 50%;
    padding: 15px 2%;
}

td:first-child {
    text-align: right;
    font-size: 1em;
    font-style: normal;
}