article {

    h1 {
        // Title Image Overlay
        position: absolute;
        max-height: 199px;
        margin: 0;
        top: 0;
        width: 100%;
        padding: 20px 0 145px 40px;
        // border-radius: $border-radius $border-radius 0 0;

        background: -moz-linear-gradient(315deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
        background: -webkit-linear-gradient(315deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(315deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);

    }

    header {
        // Title Image Overlay
        position: absolute;
        width: 100%;
        max-width: 680px;
        position: absolute;
        max-height: 199px;
        overflow: hidden;
    }

    time {
        // Title Image Overlay
        position: absolute;
        right: 0;
        top: 10px;
    }
}

div.article-body{
    margin-top: 220px;
}

.header-fade {
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: red;
    bottom: 0;

    background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(34,34,34,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(34,34,34,1) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(34,34,34,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#222222",GradientType=1);
}
